#contents
{
    background-color: white;
    padding: 20px;
    box-shadow: 5px 10px 8px #c3c3c3;
    width: 80%;
    align-items: center;
    margin: auto;
}
#orClasses{
    display: flex;
}
#header{
    text-align: center;
}

#enrollmentSelection {
    text-align: center;
    margin: auto;
    align-items: center;
}

#addedSectionEnroll{
    display: flex;
    justify-content: space-between;
}

#addedSectionEnroll label{
    font-weight: bold;
}


button{
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    align-items: center;
}

#transcriptButton {

    background-color: black;
    color: white;
}

#addCourseButton {
    
    background-color: #F1B82D;
    color: black;

}

#requiredCourse, #choiceCourse
{
    background-color: white;
    display: inline-block;
    padding: 5px;

}


.courseTable {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 10px;
    max-height: min-content;
}
.courseTable th, td
{
    padding: 5px;
    background-color: rgb(230, 230, 230);
    overflow-y: scroll;
    max-width: 200px;
}

.courseTable td{
    overflow: scroll;
}
.courseTable th{
    text-align: left;
}

#removeButton {
    border: none;
    background-color: transparent;
    font-weight: normal;
}

#removeItem {
    text-align: right;
}

body{
    width: 100%;
}

hr{
    color: rgb(231, 231, 231);
}

#popupDiv{
    width: 100%;
    height: 100%;
    text-align: left;
    display: flex;
    overflow-y: scroll;

}

#optionButtons{
    display: flex;
    justify-content: space-between;
}

#exportButton{
    background-color: #F1B82D;
    color: white;
    width: 15%;
}

#saveButton{
    background-color: #009E60;
    color: white;
    width: 15%;
}

#deleteButton{
    background-color: #D53126;
    color: white;
    width: 15%;
}

/* for drop down menu selection */

.accordion{
    overflow: hidden;
}

.accordion li{
    list-style: none;
    width: 100%;
}

.accordion li label{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500px;
    cursor: pointer;
}

#genReqLabel::before{
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}

input[type="checkbox"]{
    display: none;
}

.accordion .classHistory{
    color: black;
    line-height: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="checkbox"]:checked + #genReqLabel + .classHistory{
    max-height: max-content;
    padding: 10px 10px 20px;
}

.accordion input[type="checkbox"]:checked + #genReqLabel::before{
    content: '-';
}

#transferCourseInput label, input[type="text"]{
    font-weight: normal;
}

#errorMessage{
    color: red;
}
