#contents
{
    padding: 20px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 90%;
    align-items: center;
    margin: auto;
    border: 1px solid black;
}

#orClasses{
    display: flex;
}
#header{
    text-align: center;
}

.programDelete{
    background-color: #F1B82D;

}
.programDelete:hover{
    background-color: #ffdb7f;
}

#enrollmentSelection {
    text-align: center;
    margin: auto;
    align-items: center;
}

#addedSectionEnroll{
    display: flex;
    justify-content: space-between;
}

#addedSectionEnroll label{
    font-weight: bold;
    display: flex;
    padding:  0 2%;
}

#addedSectionEnroll select {
    padding: 5px;
    border-radius: 5px;
    flex-grow: 1;
}

#addedSectionEnroll label:first-child, #addedSectionEnroll label:nth-child(2) {
    width: 25%;
}

#addedSectionEnroll label:nth-child(3) {
    width: 50%;
}

button{
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    align-items: center;
}

#transcriptButton {

    background-color: black;
    color: white;
}
#transcriptButton:hover{
    background-color: rgb(82, 81, 81);
}

#programButton{
    background-color: #F1B82D;
}
#programButton:hover{
    background-color: #ffdb7f;
}

#addCourseButton {
    
    background-color: #F1B82D;
    color: black;

}

#addCourseButton:hover{
    background-color: #ffdb7f;
}

#requiredCourse, #choiceCourse
{
    background-color: white;
    display: inline-block;
    padding: 5px;
    vertical-align: top;

}

.preReqTD{
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.courseTable {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 10px;
    width: 300px;
    max-width: 300px;
}
.courseTable th, td
{
    padding: 5px;
    background-color: rgb(230, 230, 230);
    overflow-y: scroll;
    height: 30px;
}

.tablePrereq{
    max-width: 200px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    height: fit-content;

}

.prereqButton{
    background-color: transparent;
    border: 1px solid black;
    padding: none;
    font-weight: normal;
    padding: 3px;
    width: fit-content;
    height: fit-content;
    vertical-align:top;
    margin: auto;
}
.prereqButton:hover{
    background-color: lightgray;
}

.expandPrereq{
    max-width: 200px;
    height: fit-content;
    padding-right: 2px;
}

.courseTable td{
    overflow: scroll;
}
.courseTable th{
    text-align: left;
}

#removeButton {
    border: none;
    background-color: transparent;
    font-weight: normal;
    padding: 5px;
}

#removeButton:hover{
    background-color: lightgray;
}

#removeItem {
    text-align: right;
}

body{
    width: 100%;
}

hr{
    color: rgb(231, 231, 231);
}

#popupDiv{
    width: 100%;
    height: 100%;
    text-align: left;
    display: flex;
    overflow-y: scroll;

}

#optionButtons{
    display: flex;
    justify-content: space-between;
}

#exportButton{
    background-color: #F1B82D;
    color: white;
    width: 15%;
}

#exportButton:hover{
    background-color: #c49e3e;
}

#saveButton{
    background-color: #009E60;
    color: white;
    width: 15%;
}

#saveButton:hover{
    background-color: #127b51;
}

#deleteButton{
    background-color: #D53126;
    color: white;
    width: 15%;
}

#deleteButton:hover{
    background-color: #ae2f26;
}

#twoSemesterPlan, #threeSemesterPlan, .planTable{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
    width: 90%;
    margin-bottom: 10px;
}
#twoSemesterPlan th, #threeSemesterPlan th, .planTable th{
    text-align: center;
    background-color: #F1B82D;
    border-bottom: 1px solid black;
    padding: 10px;
}

.semesterHeading{
    background-color: lightgray;
    font-weight: bold;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;

}
.courseTableInfo td{
    background-color: white;
}

.courseTableInfo td:nth-child(2), .courseTableInfo td:nth-child(4){
    border-right: 1px solid black;
}

#tableDataHeading td{
    font-weight: bold;
}

#tableSummary td{
    border-top: 1px solid black;
    background-color: #F1B82D;
}

#tableSummary td:nth-child(2), #tableSummary td:nth-child(4){
    border-right: 1px solid black;
}

#userPlanner{
    text-align: center;
}

#checkboxDiv input[type=checkbox]{
    border: 1px solid gray;
    display: inline-block;
}

#checkboxlabel{
    display: inline-block;
}

/* for drop down menu selection */

.accordion{
    overflow: hidden;
}

.accordion li{
    list-style: none;
    width: 100%;
}

.accordion li label{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500px;
    cursor: pointer;
}

#genReqLabel::before{
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}

.accordion input[type="checkbox"]{
    display: none;
}

.accordion .classHistory{
    color: black;
    line-height: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="checkbox"]:checked + #genReqLabel + .classHistory{
    max-height: max-content;
    padding: 10px 10px 20px;
}

.accordion input[type="checkbox"]:checked + #genReqLabel::before{
    content: '-';
}

#transferCourseInput label, input[type="text"]{
    font-weight: normal;
}

#errorMessage{
    color: red;
}

.confirmButton{
    padding: 20px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: white;
    width: 50%;
    margin: auto;
}
#confirmButtonsDiv{
    display: flex;
    justify-content: space-between;
}
#no{
    border: 2px solid black;
    background-color: transparent;
    padding: 10px 28px;
}
#no:hover{
    background-color: black;
    color: white;
}
#yes:hover{
    background-color: #F1B82D;
}

#yes{
    padding: 10px 28px;
    border: 2px solid #F1B82D;
    background-color: transparent;
}