#audit
{
    background-color: white;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 10px 8px #c3c3c3;
}

.transcriptButton {
    border: none;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
}

#requiredCourse
{
    background-color: white;
    display: block;

}
#requiredCourse>.requiredCourseSelect
{
    text-align: center;
    display: table-cell;
}
#requiredCourse>p
{
    text-align: center;
    display: table-cell;
}

table {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 10px;
}
th{
    text-align: left;
}

th, td 
{
    padding: 5px;
}

#removeButton {
    border: none;
    background-color: transparent;
}

#removeItem {
    text-align: right;
}