#audit
{
    background-color: white;
    padding: 20px;
    margin: 10px;
    box-shadow: 5px 10px 8px #c3c3c3;
}

#enrollmentSelection {
    text-align: center;
}

.transcriptButton {
    border: none;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    align-items: center;
}

#requiredCourse, #choiceCourse
{
    background-color: white;
    display: inline-block;
    padding: 5px;


}

table {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 10px;
}
th{
    text-align: left;
}

th, td 
{
    padding: 5px;
    background-color: lightgray;
}

#removeButton {
    border: none;
    background-color: transparent;
}

#removeItem {
    text-align: right;
}


body{
    width: 100%;
}