#cookieInfo{
    padding: 15px;
    display: inline-block;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#cookieTitle{
    font-size: X-Large;
}

#cookieData{
    font-size: medium;
}

#cookieclose{
    background-color: #F1B82D;
}

#cookieclose:hover{
    background-color: #F7D88D;
}

#cookieButtons{
    display: flex;
    justify-content: space-between;
}

#cookieAbout{
    display: inline-block;
    flex: 1.25;
    text-align: left;
}