#forgotPassword{
    padding-top: 10%;
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color:#D7D7D7;
    position: absolute;
}

#forgotPasswordForm{
    background-color: white;
    padding: 50px;
    width: 50%;
    max-height: fit-content;
    box-shadow: 5px 10px 8px #c3c3c3;
    display: inline-block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    display: flex;
}

#imageDiv{
    display: inline-block;
    flex: 0.75;
}

#imageDiv img{
    width: 100%;
    height: 100%;
}

#passwordForm{
    display: inline-block;
    flex: 1.25;
    text-align: left;
}

#passwordForm input, label{
    display: block;
    font-weight: bold;
    font-size:large;
}

#passwordForm input[type=text]{
    margin: auto;
    width: 100%;
    padding: 10px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: lightgray;
    box-sizing: border-box;
    font-weight: normal
}

#passwordForm h2{
    color: gray;
    font-weight: normal;
}

#forgotNextButton
{
    border: none;
    background-color: #F1B82D;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    float: right;
    width: 20%;

}